<a href="https://colab.research.google.com/github/LuciferX45/Deep-Learning-Labs/blob/main/DL_LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DL LAB 2**
# **Gautam Padhi**
# I034 B2
# BTech AI SEM V

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [ ]:
data = pd.read_csv('Iris.csv')
del data['Id']

In [ ]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

#Preprocessing

In [ ]:
encoder = OneHotEncoder()
encoder_df = pd.DataFrame(encoder.fit_transform(data[['Species']]).toarray())
encoder_df.head()

     0    1    2
0  1.0  0.0  0.0
1  1.0  0.0  0.0
2  1.0  0.0  0.0
3  1.0  0.0  0.0
4  1.0  0.0  0.0

In [ ]:
scaler = StandardScaler()
data[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']] = scaler.fit_transform(data[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']])
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0      -0.900681      1.032057      -1.341272     -1.312977  Iris-setosa
1      -1.143017     -0.124958      -1.341272     -1.312977  Iris-setosa
2      -1.385353      0.337848      -1.398138     -1.312977  Iris-setosa
3      -1.506521      0.106445      -1.284407     -1.312977  Iris-setosa
4      -1.021849      1.263460      -1.341272     -1.312977  Iris-setosa

In [ ]:
del data['Species']
data_final = pd.concat([data,encoder_df],axis = 1)
data_final.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    0    1    2
0      -0.900681      1.032057      -1.341272     -1.312977  1.0  0.0  0.0
1      -1.143017     -0.124958      -1.341272     -1.312977  1.0  0.0  0.0
2      -1.385353      0.337848      -1.398138     -1.312977  1.0  0.0  0.0
3      -1.506521      0.106445      -1.284407     -1.312977  1.0  0.0  0.0
4      -1.021849      1.263460      -1.341272     -1.312977  1.0  0.0  0.0

#Creating an ANN

##Defining weights and biases

In [ ]:
np.random.seed(42)
w_i_h1 = np.random.rand(4,1)
w_i_h2 = np.random.rand(4,1)
w_h_o1 = np.random.rand(2,1)
w_h_o2 = np.random.rand(2,1)
w_h_o3 = np.random.rand(2,1)
b1 = np.random.rand(1)
b2 = np.random.rand(1)

##Sigmoid

In [ ]:
def sigmoid(x):
  return 1/(1 + np.exp(-x))

In [ ]:
input = data_final.iloc[:,:4]

## Step 1 - 
Hidden layer computation

In [ ]:
z2_1 = np.dot(input,w_i_h1) + b1
z2_2 = np.dot(input,w_i_h2) + b2

##Step 2 - 
Using sigmoid funtion

In [ ]:
h2_1 = sigmoid(z2_1)
h2_2 = sigmoid(z2_2)

##Appending h2_1 and h2_2

In [ ]:
h2 = np.append(h2_1,h2_2,axis = 1)

##Step 3 -
Input from hidden layers to output

In [ ]:
o2_1 = np.dot(h2,w_h_o1)
o2_2 = np.dot(h2,w_h_o2)
o2_3 = np.dot(h2,w_h_o3)

In [ ]:
o1 = sigmoid(o2_1)
o2 = sigmoid(o2_2)
o3 = sigmoid(o2_3)

##Error Calculation

In [ ]:
f1 = np.array(data_final.iloc[:,4])
f1.reshape((-1,1))
e1 = f1-o1

In [ ]:
f2 = np.array(data_final.iloc[:,5])
f2.reshape((-1,1))
e2 = f2-o2

In [ ]:
f3 = np.array(data_final.iloc[:,6])
f3.reshape((-1,1))
e3 = f3-o3

In [ ]:
error = np.multiply(e1,e1) + np.multiply(e2,e2) + np.multiply(e3,e3)

In [ ]:
error_total = np.sum(error)

In [ ]:
error_total

21678.232304240064

# Changing the weights

In [ ]:
np.random.seed(69)
w_i_h1 = np.random.rand(4,1)
w_i_h2 = np.random.rand(4,1)
w_h_o1 = np.random.rand(2,1)
w_h_o2 = np.random.rand(2,1)
w_h_o3 = np.random.rand(2,1)
b1 = np.random.rand(1)
b2 = np.random.rand(1)

In [ ]:
z2_1 = np.dot(input,w_i_h1) + b1
z2_2 = np.dot(input,w_i_h2) + b2

In [ ]:
h2_1 = sigmoid(z2_1)
h2_2 = sigmoid(z2_2)

In [ ]:
h2 = np.append(h2_1,h2_2,axis = 1)

In [ ]:
o2_1 = np.dot(h2,w_h_o1)
o2_2 = np.dot(h2,w_h_o2)
o2_3 = np.dot(h2,w_h_o3)

In [ ]:
o1 = sigmoid(o2_1)
o2 = sigmoid(o2_2)
o3 = sigmoid(o2_3)

In [ ]:
f1 = np.array(data_final.iloc[:,4])
f1.reshape((-1,1))
e1 = f1-o1

In [ ]:
f2 = np.array(data_final.iloc[:,5])
f2.reshape((-1,1))
e2 = f2-o2

In [ ]:
f3 = np.array(data_final.iloc[:,6])
f3.reshape((-1,1))
e3 = f3-o3

In [ ]:
error = np.multiply(e1,e1) + np.multiply(e2,e2) + np.multiply(e3,e3)

In [ ]:
error_total = np.sum(error)
error_total

22363.87864613179

# Adding a node in hidden layer

In [ ]:
np.random.seed(31)
w_i_h1 = np.random.rand(4,1)
w_i_h2 = np.random.rand(4,1)
w_i_h3 = np.random.rand(4,1)
w_h_o1 = np.random.rand(3,1)
w_h_o2 = np.random.rand(3,1)
w_h_o3 = np.random.rand(3,1)
b1 = np.random.rand(1)
b2 = np.random.rand(1)
b3 = np.random.rand(1)

In [ ]:
z2_1 = np.dot(input,w_i_h1) + b1
z2_2 = np.dot(input,w_i_h2) + b2
z2_3 = np.dot(input,w_i_h3) + b3

In [ ]:
h2_1 = sigmoid(z2_1)
h2_2 = sigmoid(z2_2)
h2_3 = sigmoid(z2_3)

In [ ]:
h2 = np.append(h2_1,h2_2,axis = 1)
h2 = np.append(h2,h2_3,axis = 1)

In [ ]:
o2_1 = np.dot(h2,w_h_o1)
o2_2 = np.dot(h2,w_h_o2)
o2_3 = np.dot(h2,w_h_o3)

In [ ]:
o1 = sigmoid(o2_1)
o2 = sigmoid(o2_2)
o3 = sigmoid(o2_3)

In [ ]:
f1 = np.array(data_final.iloc[:,4])
f1.reshape((-1,1))
e1 = f1-o1

In [ ]:
f2 = np.array(data_final.iloc[:,5])
f2.reshape((-1,1))
e2 = f2-o2

In [ ]:
f3 = np.array(data_final.iloc[:,6])
f3.reshape((-1,1))
e3 = f3-o3

In [ ]:
error = np.multiply(e1,e1) + np.multiply(e2,e2) + np.multiply(e3,e3)

In [ ]:
error_total = np.sum(error)
error_total

22228.949033268298

# **Conclusion**
We learnt the basics of Neural Network Development and we used the pre-processing that we learnt last semester to make out work easier.