<a href="https://colab.research.google.com/github/LuciferX45/Deep-Learning-Labs/blob/main/DL_LAB10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DL LAB 10**
# **Gautam Padhi**
# I034 B2
# BTech AI SEM V

In [ ]:
import pandas as pd
df=pd.read_csv('NSE-TATAGLOBAL.csv')

In [ ]:
df.shape

(2035, 8)

In [ ]:
df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,28-09-2018,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,27-09-2018,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,26-09-2018,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,25-09-2018,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,24-09-2018,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [ ]:
train_data = df.iloc[:,1:2]

In [ ]:
train_data.shape

(2035, 1)

In [ ]:
train_data.head()

     Open
0  234.05
1  234.55
2  240.00
3  233.30
4  233.55

In [ ]:
train_data.shape

(2035, 1)

In [ ]:
#feature normalization
train_data = train_data.values

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler(feature_range=(0,1))
train_data_scaled = scale.fit_transform(train_data)

In [ ]:
#convert the training data into timestamps of 60
import numpy as np
x_train=[]
y_train=[]
for i in range(60,2035):
  x_train.append(train_data_scaled[i-60:i,0])
  y_train.append(train_data_scaled[i,0])
x_train,y_train = np.array(x_train), np.array(y_train)

In [ ]:
x_train.shape

(1975, 60)

In [ ]:
#converting to 3 D array
x_train= np.reshape(x_train, (x_train.shape[0],x_train.shape[1],1))

In [ ]:
x_train.shape

(1975, 60, 1)

In [ ]:
# Create the model
from keras import Sequential
from keras.layers import Dense, LSTM, Dropout
model =Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(x_train.shape[1],1)))
model.add(Dropout(0.2))
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(units=1))

In [ ]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [ ]:
model.fit(x_train,y_train, epochs=10,batch_size=32)

Epoch 1/10
62/62 [==============================] - 12s 90ms/step - loss: 0.0056
Epoch 2/10
62/62 [==============================] - 5s 88ms/step - loss: 0.0026
Epoch 3/10
62/62 [==============================] - 6s 90ms/step - loss: 0.0022
Epoch 4/10
62/62 [==============================] - 5s 87ms/step - loss: 0.0024
Epoch 5/10
62/62 [==============================] - 5s 87ms/step - loss: 0.0025
Epoch 6/10
62/62 [==============================] - 5s 88ms/step - loss: 0.0019
Epoch 7/10
62/62 [==============================] - 5s 86ms/step - loss: 0.0018
Epoch 8/10
62/62 [==============================] - 5s 87ms/step - loss: 0.0018
Epoch 9/10
62/62 [==============================] - 5s 88ms/step - loss: 0.0017
Epoch 10/10
62/62 [==============================] - 6s 102ms/step - loss: 0.0015

In [ ]:
df1=pd.read_csv('tatatest.csv')

FileNotFoundError: ignored

In [ ]:
df1.head()
df1.shape

In [ ]:
test_data = df1.iloc[:,1:2]

In [ ]:
test_data = test_data.values

In [ ]:
test_data_scaled = scale.fit_transform(test_data)